.g-map-1 {
    margin-left: 10%;
}

.input-01 {
    margin-top: 8%;
    margin-left: 5%;
}

.sec-01 {
    padding-top: 2%;
}

.btn-01,div,button{
    margin-bottom: 5%;
}

.progress-01 {
    padding-left: 1%;
}
